{% extends 'CmsAdminBundle::base.html.twig' %}
{% trans_default_domain "CmsAdminBundle" %}

{% block body_attributes ' id="admin"' %}
    {% block body %}
        {% block header %}
            {% block ajax_on_loading %}
                <div id="ajax-on-loading">
                    <div class="ajax loading alert alert-info">{{ 'global.ajax.loading'|trans }}</div>
                    <div class="ajax error alert alert-danger">{{ 'global.ajax.error'|trans }}</div>
                    <div class="ajax success alert alert-success">{{ 'global.ajax.success'|trans }}</div>
                </div>
            {% endblock %}

            {% block navbar %}
                <header class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('cms_admin_dashboard') }}" title="{{ 'global.goto_dashboard'|trans }}">
                                <i class="glyphicon glyphicon-dashboard"></i> {{ 'global.title'|trans }}
                            </a>
                        </div>
                        <div class="navbar-collapse collapse" id="top-navbar">
                            <ul class="nav navbar-nav">
                                {% block menutopleft %}
                                    {% include 'CmsAdminBundle::menutopleft.html.twig' %}
                                {% endblock %}
                            </ul>
                            {% block menutopright %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{{ path('fos_user_profile_edit') }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username }, 'FOSUserBundle') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="glyphicon glyphicon-off"></i>
                                        {{ 'global.logout'|trans }}
                                    </a>
                                </li>
                            </ul>
                            {% endblock %}
                        </div>
                    </div>
                </header>
            {% endblock %}
        {% endblock %}

        {% block container %}
            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="col-md-2">
                        {% block menuleft %}
                        {% endblock %}
                    </div>

                    <div class="col-md-10">

                        {% block flashes %}
                            {% for flashMessage in app.session.flashBag.get('notice') %}
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'global.form_modal_action'|trans }}</span></button>
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashBag.get('error') %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'global.form_modal_action'|trans }}</span></button>
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashBag.get('success') %}
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'global.form_modal_action'|trans }}</span></button>
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashBag.get('info') %}
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'global.form_modal_action'|trans }}</span></button>
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                        {% endblock %}

                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block footer %}
            <hr />
            <footer class="container-fluid">
                {% block footer_content %}
                    <p>{{ 'global.copyright'|trans }}</p>
                {% endblock %}
            </footer>
        {% endblock %}
    {% endblock %}
