{% extends 'CmsAdminBundle::base.html.twig' %}
{% trans_default_domain "CmsAdminBundle" %}
{% block body %}
<div id="ajax-on-loading">
    <span class="loading">{{ 'global.ajax.loading'|trans }}</span>
    <span class="error">{{ 'global.ajax.error'|trans }}</span>
    <span class="success">{{ 'global.ajax.success'|trans }}</span>
</div>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ path('homepage') }}" class="brand">{{ 'site.title'|trans }}</a>

{% block menutop %}{% endblock %}
			
            <a href="{{ path('fos_user_security_logout') }}">{{ 'global.logout'|trans }}</a>
        </div>
    </div>
</div>
<div id="wrapper">
    <div class="content">
        <div class="fill">
			
{% block flashes %}
	<div>
		{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="alert">
			<a class="close" data-dismiss="alert">×</a>
			{{ flashMessage }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">×</a>
			{{ flashMessage }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('sucess') %}
		<div class="alert alert-success">
			<a class="close" data-dismiss="alert">×</a>
			{{ flashMessage }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('info') %}
		<div class="alert alert-info">
			<a class="close" data-dismiss="alert">×</a>
			{{ flashMessage }}
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block content %}{% endblock %}

        </div>
    </div>
</div>
{% endblock %}