{% trans_default_domain 'CmsAdminBundle' %}

{% block form_wrapper %}
	{% block form_wrapper_tag '<section>' %}

		{% block form_header %}
            <h2>{% block form_title '' %}</h2>
            {{ form_errors(form) }}
		{% endblock %}
        {% block form_start_tag %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
        {% endblock %}

			{% block form_content %}
                {% for child in form if 'submit' not in child.vars.block_prefixes %}
                    {{ form_row(child) }}
                {% endfor %}
            {% endblock %}

			{% block form_actions %}
                <div class="form-group">
                {% block form_actions_inner %}
                    {% block form_actions_list_default %}
                        {% if form.submit is defined %}
                            {{ form_widget(form.submit, {
                                'icon_class': 'glyphicon glyphicon-floppy-disk',
                                'label': 'global.form_action.save',
                                'translation_domain':'CmsAdminBundle',
                                'attr':{'class': 'btn-primary btn-lg'}
                            }) }}
                        {% endif %}
                    {% endblock %}
                    {% block form_actions_list %}
                        {% for child in form if 'submit' in child.vars.block_prefixes and not child.rendered %}
                            {{ form_widget(child) }}
                        {% endfor %}
                        {% block form_actions_list_index %}
                            <a class="btn btn-default btn-lg" href="{{ path(route_index) }}">
                                <i class="glyphicon glyphicon-th-list"></i>
                                {{ 'global.form_action.back_to_list'|trans }}
                            </a>
                        {% endblock %}
                    {% endblock %}
                {% endblock %}
                </div>
			{% endblock %}
        {% block form_end_tag %}
            {{ form_end(form) }}
        {% endblock %}
    {% block form_wrapper_end_tag '</section>' %}
{% endblock %}
