{% extends 'CmsAdminBundle::layout.html.twig' %}

{% block content %}
	{% embed 'CmsAdminBundle:CRUD:form.html.twig' %}
		{% trans_default_domain 'CmsAdminBundle' %}
		{% block form_title ( translation_prefix ~ '.edit.title' )|trans({'%name%': entity}, bundle_name) %}
		{% block form_action path(route_form_action, { 'id': entity.id }) %}

		{% block form_actions_list_default '' %}
		{% block form_actions_list %}
			<input type="submit" class="btn btn-primary" value="{{ 'global.form_action.update'|trans }}">&nbsp;
			<a class="btn danger bui-confirm-popover-above" data-popover-title="{{ 'global.form_action.are_you_sure'|trans }}" href="{{ path(route_delete, { 'id': entity.id }) }}" >{{ 'global.form_action.delete'|trans }}</a>&nbsp;
			{{ parent() }}
		{% endblock %}
	{% endembed %}
{% endblock %}