{% extends 'CmsAdminBundle::layout.html.twig' %}
{% trans_default_domain "CmsAdminBundle" %}
{% import "CmsAdminBundle:Macro:boolean.html.twig" as bool %}

{% set nb_cols = 3 %}

{% block menuleft %}
	{{ include(template_menuleft) }}
{% endblock %}

{% block content %}
	{% block content_head %}
	<section>
	{% endblock %}

		{% block index_title %}
		<h2>{{ (translation_prefix ~ '.index.title')|trans([], bundle_name) }}</h2>
		{% endblock %}

		{% block index_filter %}
			{% if filter %}
		<form method="POST" action="{{ path(route_index) }}" class="form-inline">
			{{ form_widget(filter) }}
			<input class="btn" type="submit" value="{{ 'global.index_crud.filter.submit'|trans }}" />
		</form>
			{% endif %}
		{% endblock %}

		{% block index_list_actions %}
		<nav class="other-actions">
			{% block index_list_other_actions_list %}
			<a class="btn btn-warning" href="{{ path(route_new) }}">{{ 'global.index.new'|trans }}</a>
			{% endblock %}
		</nav>
		{% endblock %}

		{% block index_list_form %}
		<form method="POST" action="{{ path(route_form_action) }}" class="form-inline">
		{% endblock %}
			{% block index_list %}
				<table class="table table-hover">
					{% block index_list_head %}
					<thead>
						<tr>
							<th class="groupCheckbox"><input type="checkbox" /></th>
							<th>{{ 'global.index.name'|trans }}</th>
                                                        {% if route_publish is defined  %}
							<th>{{ 'global.index_crud.published'|trans }}</th>
							{% endif %}
							<th>{{ 'global.index_crud.actions'|trans }}</th>
						</tr>
					</thead>
					{% endblock %}
					{% block index_list_body %}
					<tbody>
						{% for entity in pagination %}
						<tr>
							{% block index_bashactions_item %}
							{% if is_granted('ROLE_ADMIN') %}
								<td class="groupCheckbox"><input type="checkbox" name="ids[]" value="{{ entity.id }}" /></td>
							{% endif %}
							{% endblock %}
							{% block index_list_item_cols %}
							<td>{{ entity }}</td>
							{% endblock %}
                                                        {% if route_publish is defined  %}
							<td>{{ bool.show(entity.published) }}</td>
							{% endif %}
							{% block index_list_items_actions %}
							<td class="items-actions">
								<a class="btn btn-mini btn-primary" href="{{ path(route_edit, { 'id': entity.id }) }}" title="{{ 'global.form_action.edit'|trans }}">{{ 'global.form_action.edit'|trans }}</a>
								{% if route_publish is defined  %}
								<a class="btn btn-mini btn-primary" href="{{ path(route_publish, { 'id': entity.id }) }}" title="{{ 'global.form_action.publish_toggle'|trans }}">
									{{ 'global.form_action.publish_toggle'|trans }}
								</a>
								{% endif %}
							</td>
							{% endblock %}
						</tr>
						{% else %}
						{% block index_list_items_noresult %}
						<tr class="no-result">
							<td colspan="{{ nb_cols }}">{{ ('global.index.no_result') |trans }}</td>
						</tr>
						{% endblock %}
						{% endfor %}
					</tbody>
					{% endblock %}
					{% block index_list_foot %}
					{% endblock %}
				</table>
			{% endblock %}

			{% block index_list_bashactions %}
				{% if is_granted('ROLE_ADMIN') %}
				<div>
					{{ form_widget(groupForm.action) }}
					{{ form_rest(groupForm) }}
					<input class="btn" type="submit" value="{{ 'global.index_crud.group_action.submit'|trans }}" />
				</div>
				{% endif %}
			{% endblock %}

		{% block index_list_enform %}
		</form>
		{% endblock %}

		{% block index_paginator %}
			{{ knp_pagination_render(pagination) }}
		{% endblock %}

	{% block content_foot %}
	</section>
	{% endblock %}
{% endblock %}