{% extends 'CmsAdminBundle::layout.html.twig' %}
{% trans_default_domain "CmsAdminBundle" %}
{% import "CmsAdminBundle:Macro:boolean.html.twig" as bool %}
{% use ('CmsAdminBundle:CRUD:ajax_index.html.twig') %}

{% block menuleft %}
	{{ include(template_menuleft) }}
{% endblock %}

{% block content %}
    {{ block('index_wrapper') }}
{% endblock %}

{% block index_head '<section class="panel panel-default">' %}

{% block index_header %}
    <div class="panel-heading">
        {{ parent() }}
    </div>
{% endblock %}

{% block index_body %}
    <div class="panel-body">
        {{ parent() }}
    </div>
{% endblock %}

{% block index_list_bashactions %}
    <div class="panel-body">
        {{ parent() }}
    </div>
{% endblock %}
{% block index_lis_no_result %}
    <div class="panel-body">
        {{ parent() }}
    </div>
{% endblock %}

{% block index_footer %}
    <div class="panel-footer">
        {{ parent() }}
    </div>
{% endblock %}

{% block index_foot '</section>' %}