{% extends 'CmsAdminBundle:CRUD:index.html.twig' %}
{% trans_default_domain "CmsAdminBundle" %}

{% block index_title %}
    <h2>{{ (translation_prefix ~ '.order.title')|trans([], translation_domain) }}</h2>
{% endblock %}

{% block index_filter '' %}

{% block index_list_head %}
    <thead>
    <tr>
        <th>{{ 'global.index.name'|trans }}</th>
    </tr>
    </thead>
{% endblock %}

{% block index_table_class ' table-order' %}

{% block index_list_body %}
    <tbody>
    {% for i, entity in entity_list %}
        <tr>
            {% block index_list_item_cols %}
                <td>
                    <input type="hidden" name="{{ groupForm.ids.vars.full_name }}" value="{{ entity.id }}" />
                    (N&deg;{{ i+1 }} - ID {{ entity.id }}) - {{ entity }}
                </td>
            {% endblock %}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}

{% block index_list_bashactions %}
    {{ form_widget(groupForm.submit, {'label': 'global.form_action.order', 'translation_domain':'CmsAdminBundle', 'attr': { 'class': 'btn-primary' } }) }}
{% endblock %}

{% block index_paginator '' %}