{# Widgets #}
    
{% block form_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {{ block('field_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        <div class="datetime-widget">
        {{ form_widget(form.date) }}
        {{ form_widget(form.time) }}
        {{ form_errors(form.date) }}
        {{ form_errors(form.time) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ '{{ day }}&nbsp;&nbsp;{{ month }}&nbsp;&nbsp;{{ year }}'|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'class' : 'span1'}}),
                '{{ month }}': form_widget(form.month, {'attr': {'class' : 'span1'}}),
                '{{ day }}':   form_widget(form.day, {'attr': {'class' : 'span1'}}),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, { 'attr': { 'class': 'span1' } }) }}:{{ form_widget(form.minute, { 'attr': { 'class': 'span1' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'class': 'span1' } }) }}{% endif %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block image_widget %}
{% spaceless %}
	{% if value is not empty %}
	<img src="{{ value }}" alt="" style="width: {{img_width|default(200)}}px" />
	{% endif %}
{% endspaceless %}
{% endblock %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' control-label'}) %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    {% set trans_label = id|replace({'_':'.'}) %}
    {% if trans_label != (trans_label|trans({}, translation_domain)) %}
        {% set label = trans_label|trans({}, translation_domain) %}
    {% else %}
        {% set label = label|trans %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label }}</label>
{% endspaceless %}
{% endblock %}

{# Rows #}

{% block form_row %}
{% spaceless %}
    <div class="control-group{% if errors|length > 0 %} error{% endif %}">
        {{ form_label(form, label|default(null)) }}
        <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{# Misc #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock %}