{# Widgets #}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        <div class="datetime-widget">
        {{ form_widget(form.date) }}
        {{ form_widget(form.time) }}
        {{ form_errors(form.date) }}
        {{ form_errors(form.time) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ '{{ day }}&nbsp;&nbsp;{{ month }}&nbsp;&nbsp;{{ year }}'|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'class' : 'col-md-1'}}),
                '{{ month }}': form_widget(form.month, {'attr': {'class' : 'col-md-1'}}),
                '{{ day }}':   form_widget(form.day, {'attr': {'class' : 'col-md-1'}}),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, { 'attr': { 'class': ' col-md-1' } }) }}:{{ form_widget(form.minute, { 'attr': { 'class': ' col-md-1' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'class': ' col-md-1' } }) }}{% endif %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block image_widget %}
{% spaceless %}
	{% if value is not empty %}
	<img src="{{ value }}" alt="" style="width: {{img_width|default(200)}}px" />
	{% endif %}
{% endspaceless %}
{% endblock %}

{% block choice_widget_label %}
{% spaceless %}
    {% set l = child is defined ? child.vars : choice %}
    {{ l.label|trans({}, translation_domain) }}
{% endspaceless %}
{% endblock %}
    
{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {% if inline is not defined or inline == false %}
        <div class="{{ multiple ? 'checkbox' : 'radio' }}">
        {% endif %}
        <label{{ inline is defined and inline == true ? (' class="'~(multiple ? 'checkbox' : 'radio')~'-inline"')|raw : '' }}>
            {{ form_widget(child) }}{{ block('choice_widget_label') }}
        </label>
        {% if inline is not defined or inline == false %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ block('choice_widget_label') }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{% block button_attributes -%}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
{%- endblock button_attributes %}

{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    {% if icon_class is defined %}
        {% set icon = ('<i class="' ~ icon_class ~ '"></i> ')|default('') %}
    {% else %}
        {% set icon = '' %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ icon|raw }}{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}

{# Labels #}

{% block form_label -%}
    {% if label is not sameas(false) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% set trans_label = id|replace({'_':'.'}) %}
        {% if trans_label != (trans_label|trans({}, translation_domain)) %}
            {% set label = trans_label|trans({}, translation_domain) %}
        {% else %}
            {% if label != label|trans %}
                {% set label = label|trans %}
            {% else %}
                {% set label = label|trans({}, translation_domain) %}
            {% endif %}
        {% endif %}
        <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label }}</label>
    {%- endif %}
{%- endblock form_label %}

{# Rows #}
{% block form_row -%}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{- form_errors(form) -}}
        {{- form_label(form, null, {'label_attr': {'class': 'col-md-2'} }) -}}
        <div class="col-md-{{ label is not sameas(false) ? '10' : '12' }}">
            {% if not compound %}
                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
            {% endif %}
            {{- form_widget(form, {'attr': attr}) -}}
        </div>
    </div>
{%- endblock form_row %}

{# Misc #}

{% block form_errors -%}
{% if errors|length > 0 -%}
    {%- for error in errors -%}
        <div class="alert alert-danger">
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        </div>
    {%- endfor -%}
{%- endif %}
{%- endblock form_errors %}
